DATABASE_URL="mysql://admin:your_password@localhost:3306/oauth_db"

JWT_ACCESS_SECRET="must be 32 chars at list and strog"
JWT_REFRESH_SECRET="super and must be 32 chars at list and strog"

PORT=3000

# development or test or production
NODE_ENV="development"

# Facebook OAuth Config
FACEBOOK_APP_ID="842554538906409"

# WARN: For your security, do not share this with anyone
# Change this to you real client secret
FACEBOOK_APP_SECRET="********************************"

COOKIE_SECRET="super_secret_signing_key_at_least_32_characters"
