DATABASE_URL="mysql://admin:your_password@localhost:3306/oauth_db"

JWT_ACCESS_SECRET="must be 32 chars at list and strog"
JWT_REFRESH_SECRET="super and must be 32 chars at list and strog"

PORT=3000

# development or test or production
NODE_ENV="development"

# Your id here
GOOGLE_CLIENT_ID="669117862294-08k4bvivc487ktqo5916fild1rr4cgkh.apps.googleusercontent.com"
